body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
